
#exemplo de config postgres
POSTGRES_USER=alumind
POSTGRES_PASSWORD=alumind123
POSTGRES_DB=alumind_db

DATABASE_URL=postgresql://alumind:alumind123@localhost:5432/alumind_db

GOOGLE_API_KEY=api-key-gemini
PROJECT_ID=seu-projeto-google
GEMINI_MODEL=gemini-1.5-flash

OPENAI_API_KEY=api-key-gpt
OPENAI_MODEL=gpt-3.5-turbo

GMAIL_SENDER=email@gmail.com
GMAIL_SENDER_PASSWORD=senha-email-app

LLM_PROVIDER=OPENAI
