<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Bem-vindo ao AluMind</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
</head>
<body>
<div class="container">
    <h1>Bem-vindo ao AluMind Analyzer!</h1>

    <p>Este é um sistema para análise de feedbacks de usuários, com foco em bem-estar e saúde mental.</p>

    <h2>Rotas disponíveis:</h2>
    <ul>
        <li><strong>Enviar novo feedback:</strong> <code>POST /feedbacks Content-Type: application/json
            {
            "id": "4042f20a-45f4-4647-8050-139ac16f610b",
            "feedback": "Gosto muito de usar o Alumind! Está me ajudando bastante em relação a alguns problemas que tenho. Só quer
            ia que houvesse uma forma mais fácil de eu mesmo realizar a edição do meu perfil dentro da minha conta"
            }</code></li>
        <li><strong>Ver relatório de feedbacks:</strong> <a href="{{ url_for('report.get_report') }}">/report</a></li>
        <li><strong>Ver detalhes de um feedback:</strong> <code>/report/feedback/&lt;id&gt;</code></li>
        <li><strong>Enviar resumo semanal por e-mail:</strong> <code>POST /send_mail</code></li>
    </ul>

    <p><em>Use essas rotas para interagir com a API e visualizar relatórios detalhados.</em></p>
</div>
</body>
</html>
